In [0]:
#Rdd is simalar to list but it is immutable.
data = [
    (1, 'Saket', 'male', 2000,'IT'),
    (2, 'Anuj', 'male', 3000,'IT'),
    (3, 'Anaji', 'female', 3000,'HR'),  
    (3, 'Anu', 'female', 2000,'OPS')
]

rdd= spark.sparkContext.parallelize(data)

In [0]:
print(rdd.collect())

[(1, 'Saket', 'male', 2000, 'IT'), (2, 'Anuj', 'male', 3000, 'IT'), (3, 'Anaji', 'female', 3000, 'HR'), (3, 'Anu', 'female', 2000, 'OPS')]

In [0]:
rdd.toDF()

Out[3]: DataFrame[_1: bigint, _2: string, _3: string, _4: bigint, _5: string]

In [0]:
df1=rdd.toDF(schema=['id','name','gender','salary','dept'])
df1.show()

+---+-----+------+------+----+
| id| name|gender|salary|dept|
+---+-----+------+------+----+
|  1|Saket|  male|  2000|  IT|
|  2| Anuj|  male|  3000|  IT|
|  3|Anaji|female|  3000|  HR|
|  3|  Anu|female|  2000| OPS|
+---+-----+------+------+----+

In [0]:
df = spark.createDataFrame([(1, "Saket",200), (2, "Anuj",300)], ["id", "name",'salary'])
rdd = df.rdd  # Convert DataFrame to RDD
print(rdd.collect())

[Row(id=1, name='Saket', salary=200), Row(id=2, name='Anuj', salary=300)]

In [0]:
rdd2 = rdd.map(lambda x: x * 2)  
print(rdd2.collect())

[2, 4]

In [0]:
rdd = df.rdd.map(lambda row: row["id"]) 

rdd_filtered = rdd.filter(lambda x: x > 1)
print(rdd_filtered.collect())

[2]