In [0]:
from pyspark.sql import SparkSession


spark = SparkSession.builder.appName("Example").getOrCreate()


data = [
    (1, 'Saket', 'male', 2000),
    (2, 'Anuj', 'male', 3000),
    (2, 'Anuj', 'male', 3000),  
    (3, 'Anu', 'female', 2000)
]


schema = ['id', 'name', 'gender', 'salary']


df = spark.createDataFrame(data, schema)


df.show()

+---+-----+------+------+
| id| name|gender|salary|
+---+-----+------+------+
|  1|Saket|  male|  2000|
|  2| Anuj|  male|  3000|
|  2| Anuj|  male|  3000|
|  3|  Anu|female|  2000|
+---+-----+------+------+

In [0]:
df_new = df.dropDuplicates()
df_new.show()

+---+-----+------+------+
| id| name|gender|salary|
+---+-----+------+------+
|  1|Saket|  male|  2000|
|  2| Anuj|  male|  3000|
|  3|  Anu|female|  2000|
+---+-----+------+------+

In [0]:
df_distinct = df.distinct()
df_distinct.show()

+---+-----+------+------+
| id| name|gender|salary|
+---+-----+------+------+
|  1|Saket|  male|  2000|
|  2| Anuj|  male|  3000|
|  3|  Anu|female|  2000|
+---+-----+------+------+