In [0]:
data = [
    (1, 'Saket', 'male', 2000,'IT'),
    (2, 'Anuja', 'female', 4000,'IT'),
    (3, 'Anuj', 'male', 3000,'HR'),  
    (4, 'Anu', 'female', 2000,'OPS')
]


schema = ['id', 'name', 'gender', 'salary','dept']


df = spark.createDataFrame(data, schema)


df.show()

+---+-----+------+------+----+
| id| name|gender|salary|dept|
+---+-----+------+------+----+
|  1|Saket|  male|  2000|  IT|
|  2|Anuja|female|  4000|  IT|
|  3| Anuj|  male|  3000|  HR|
|  4|  Anu|female|  2000| OPS|
+---+-----+------+------+----+

In [0]:
df_grouped = df.groupBy("dept").count()
df_grouped.show()

+----+-----+
|dept|count|
+----+-----+
|  IT|    2|
|  HR|    1|
| OPS|    1|
+----+-----+

In [0]:
df_grouped = df.groupBy("dept").max('salary')
df_grouped.show()

+----+-----------+
|dept|max(salary)|
+----+-----------+
|  IT|       4000|
|  HR|       3000|
| OPS|       2000|
+----+-----------+

In [0]:
df_grouped = df.groupBy("dept",'gender').count()
df_grouped.show()

+----+------+-----+
|dept|gender|count|
+----+------+-----+
|  IT|  male|    1|
|  IT|female|    1|
|  HR|  male|    1|
| OPS|female|    1|
+----+------+-----+

In [0]:
from pyspark.sql.functions import *
df_grouped = df.groupBy("dept", "Name").agg(sum("Salary").alias("Total_Salary"))
df_grouped.show()

+----+-----+------------+
|dept| Name|Total_Salary|
+----+-----+------------+
|  IT|Saket|        2000|
|  IT|Anuja|        4000|
|  HR| Anuj|        3000|
| OPS|  Anu|        2000|
+----+-----+------------+