In [0]:
data1 = [
    (1, 'Saket', 'male', 2000,1),
    (2, 'Anuja', 'female', 4000, 1),
    (3, 'Anuj', 'male', 3000, 2),  
    (4, 'Anu', 'female', 2000, 4)
]
schema1 = ['id', 'name', 'gender', 'salary','dept']
data2 = [(1,'IT'),(2,'HR'),(3,'OPS')]
schema2=['id','name']

empDf = spark.createDataFrame(data1, schema1)
empDf.show()

deptDf = spark.createDataFrame(data2, schema2)
deptDf.show()

+---+-----+------+------+----+
| id| name|gender|salary|dept|
+---+-----+------+------+----+
|  1|Saket|  male|  2000|   1|
|  2|Anuja|female|  4000|   1|
|  3| Anuj|  male|  3000|   2|
|  4|  Anu|female|  2000|   4|
+---+-----+------+------+----+

+---+----+
| id|name|
+---+----+
|  1|  IT|
|  2|  HR|
|  3| OPS|
+---+----+

In [0]:
help(empDf.join)

Help on method join in module pyspark.sql.dataframe:

join(other: 'DataFrame', on: Union[str, List[str], pyspark.sql.column.Column, List[pyspark.sql.column.Column], NoneType] = None, how: Optional[str] = None) -> 'DataFrame' method of pyspark.sql.dataframe.DataFrame instance
    Joins with another :class:`DataFrame`, using the given join expression.

    .. versionadded:: 1.3.0

    .. versionchanged:: 3.4.0
        Support Spark Connect.

    Parameters
    ----------
    other : :class:`DataFrame`
        Right side of the join
    on : str, list or :class:`Column`, optional
        a string for the join column name, a list of column names,
        a join expression (Column), or a list of Columns.
        If `on` is a string or a list of strings indicating the name of the join column(s),
        the column(s) must exist on both sides, and this performs an equi-join.
    how : str, optional
        default ``inner``. Must be one of: ``inner``, ``cross``, ``outer``,
        ``full``, ``fullouter``, ``full_outer``, ``left``, ``leftouter``, ``left_outer``,
        ``right``, ``rightouter``, ``right_outer``, ``semi``, ``leftsemi``, ``left_semi``,
        ``anti``, ``leftanti`` and ``left_anti``.

    Returns
    -------
    :class:`DataFrame`
        Joined DataFrame.

    Examples
    --------
    The following performs a full outer join between ``df1`` and ``df2``.

    >>> from pyspark.sql import Row
    >>> from pyspark.sql.functions import desc
    >>> df = spark.createDataFrame([(2, "Alice"), (5, "Bob")]).toDF("age", "name")
    >>> df2 = spark.createDataFrame([Row(height=80, name="Tom"), Row(height=85, name="Bob")])
    >>> df3 = spark.createDataFrame([Row(age=2, name="Alice"), Row(age=5, name="Bob")])
    >>> df4 = spark.createDataFrame([
    ...     Row(age=10, height=80, name="Alice"),
    ...     Row(age=5, height=None, name="Bob"),
    ...     Row(age=None, height=None, name="Tom"),
    ...     Row(age=None, height=None, name=None),
    ... ])

    Inner join on columns (default)

    >>> df.join(df2, 'name').select(df.name, df2.height).show()
    +----+------+
    |name|height|
    +----+------+
    | Bob|    85|
    +----+------+
    >>> df.join(df4, ['name', 'age']).select(df.name, df.age).show()
    +----+---+
    |name|age|
    +----+---+
    | Bob|  5|
    +----+---+

    Outer join for both DataFrames on the 'name' column.

    >>> df.join(df2, df.name == df2.name, 'outer').select(
    ...     df.name, df2.height).sort(desc("name")).show()
    +-----+------+
    | name|height|
    +-----+------+
    |  Bob|    85|
    |Alice|  null|
    | null|    80|
    +-----+------+
    >>> df.join(df2, 'name', 'outer').select('name', 'height').sort(desc("name")).show()
    +-----+------+
    | name|height|
    +-----+------+
    |  Tom|    80|
    |  Bob|    85|
    |Alice|  null|
    +-----+------+

    Outer join for both DataFrams with multiple columns.

    >>> df.join(
    ...     df3,
    ...     [df.name == df3.name, df.age == df3.age],
    ...     'outer'
    ... ).select(df.name, df3.age).show()
    +-----+---+
    | name|age|
    +-----+---+
    |Alice|  2|
    |  Bob|  5|
    +-----+---+

In [0]:
empDf.join(deptDf, empDf.dept==deptDf.id, 'inner').show()

+---+-----+------+------+----+---+----+
| id| name|gender|salary|dept| id|name|
+---+-----+------+------+----+---+----+
|  1|Saket|  male|  2000|   1|  1|  IT|
|  2|Anuja|female|  4000|   1|  1|  IT|
|  3| Anuj|  male|  3000|   2|  2|  HR|
+---+-----+------+------+----+---+----+

In [0]:
empDf.join(deptDf, empDf.dept==deptDf.id, 'left').show()

+---+-----+------+------+----+----+----+
| id| name|gender|salary|dept|  id|name|
+---+-----+------+------+----+----+----+
|  1|Saket|  male|  2000|   1|   1|  IT|
|  2|Anuja|female|  4000|   1|   1|  IT|
|  3| Anuj|  male|  3000|   2|   2|  HR|
|  4|  Anu|female|  2000|   4|null|null|
+---+-----+------+------+----+----+----+

In [0]:
empDf.join(deptDf, empDf.dept==deptDf.id, 'right').show()

+----+-----+------+------+----+---+----+
|  id| name|gender|salary|dept| id|name|
+----+-----+------+------+----+---+----+
|   2|Anuja|female|  4000|   1|  1|  IT|
|   1|Saket|  male|  2000|   1|  1|  IT|
|   3| Anuj|  male|  3000|   2|  2|  HR|
|null| null|  null|  null|null|  3| OPS|
+----+-----+------+------+----+---+----+

In [0]:
empDf.join(deptDf, empDf.dept==deptDf.id, 'Full').show()

+----+-----+------+------+----+----+----+
|  id| name|gender|salary|dept|  id|name|
+----+-----+------+------+----+----+----+
|   1|Saket|  male|  2000|   1|   1|  IT|
|   2|Anuja|female|  4000|   1|   1|  IT|
|   3| Anuj|  male|  3000|   2|   2|  HR|
|null| null|  null|  null|null|   3| OPS|
|   4|  Anu|female|  2000|   4|null|null|
+----+-----+------+------+----+----+----+

In [0]:
#left Semi join
empDf.join(deptDf, empDf.dept==deptDf.id, 'leftsemi').show()

+---+-----+------+------+----+
| id| name|gender|salary|dept|
+---+-----+------+------+----+
|  1|Saket|  male|  2000|   1|
|  2|Anuja|female|  4000|   1|
|  3| Anuj|  male|  3000|   2|
+---+-----+------+------+----+

In [0]:
empDf.join(deptDf, empDf.dept==deptDf.id, 'leftanti').show()

+---+----+------+------+----+
| id|name|gender|salary|dept|
+---+----+------+------+----+
|  4| Anu|female|  2000|   4|
+---+----+------+------+----+