In [0]:
from pyspark.sql import SparkSession
from pyspark.sql.types import *

spark = SparkSession.builder.appName("MapTypeExample").getOrCreate()

schema =StructType([
    StructField("id",IntegerType(), True),
    StructField("info",MapType(StringType(),StringType()),True)
])

In [0]:
data = [
    (1, {"name": "Anuj", "city": "Patna"}),
    (2, {"name": "Saket", "city": "Los Angeles", "age": "30"})
]

df = spark.createDataFrame(data, schema)
display(df)

id,info
1,"Map(name -> Anuj, city -> Patna)"
2,"Map(name -> Saket, city -> Los Angeles, age -> 30)"

In [0]:
df1=df.withColumn('City',df.info['city'])# We are making a new column as city to view the city information
df1.show(truncate=False)

+---+-----------------------------------------------+-----------+
|id |info                                           |City       |
+---+-----------------------------------------------+-----------+
|1  |{name -> Anuj, city -> Patna}                  |Patna      |
|2  |{name -> Saket, city -> Los Angeles, age -> 30}|Los Angeles|
+---+-----------------------------------------------+-----------+

In [0]:
df2=df1.withColumn('name',df.info.getItem('name'))
df2.show(truncate=False)

+---+-----------------------------------------------+-----------+-----+
|id |info                                           |City       |name |
+---+-----------------------------------------------+-----------+-----+
|1  |{name -> Anuj, city -> Patna}                  |Patna      |Anuj |
|2  |{name -> Saket, city -> Los Angeles, age -> 30}|Los Angeles|Saket|
+---+-----------------------------------------------+-----------+-----+

In [0]:
from pyspark.sql.functions import explode

df1=df.select('id','info',explode(df.info))# by using the explode function we can get the key and values for the following .
df1.show(truncate=False)

+---+-----------------------------------------------+----+-----------+
|id |info                                           |key |value      |
+---+-----------------------------------------------+----+-----------+
|1  |{name -> Anuj, city -> Patna}                  |name|Anuj       |
|1  |{name -> Anuj, city -> Patna}                  |city|Patna      |
|2  |{name -> Saket, city -> Los Angeles, age -> 30}|name|Saket      |
|2  |{name -> Saket, city -> Los Angeles, age -> 30}|city|Los Angeles|
|2  |{name -> Saket, city -> Los Angeles, age -> 30}|age |30         |
+---+-----------------------------------------------+----+-----------+

In [0]:
#map_keys will give you all the keys 

from pyspark.sql.functions import *
df1=df.withColumn('keys',map_keys(df.info))
df1.show(truncate=False)

+---+-----------------------------------------------+-----------------+
|id |info                                           |keys             |
+---+-----------------------------------------------+-----------------+
|1  |{name -> Anuj, city -> Patna}                  |[name, city]     |
|2  |{name -> Saket, city -> Los Angeles, age -> 30}|[name, city, age]|
+---+-----------------------------------------------+-----------------+

In [0]:

df2=df.withColumn('values',map_values(df.info))
df2.show()

+---+--------------------+--------------------+
| id|                info|              values|
+---+--------------------+--------------------+
|  1|{name -> Anuj, ci...|       [Anuj, Patna]|
|  2|{name -> Saket, c...|[Saket, Los Angel...|
+---+--------------------+--------------------+