In [0]:
from pyspark.sql.functions import sum

data = [
    ("Anuj", "Jan", 200),
    ("Anuj", "Feb", 250),
    ("Bob", "Jan", 300),
    ("Bob", "Feb", 350),
    ("Marley", "Jan", 400),
    ("Marley", "Feb", 450)
]

columns = ["Name", "Month", "Sales"]
df = spark.createDataFrame(data, columns)
df.show()

df_pivot = df.groupBy("Name").pivot("Month").agg(sum("Sales"))#by the use of pivot we can convert a single column data into multiple column data or say different rows are converted into different column.

df_pivot.show()

+------+-----+-----+
|  Name|Month|Sales|
+------+-----+-----+
|  Anuj|  Jan|  200|
|  Anuj|  Feb|  250|
|   Bob|  Jan|  300|
|   Bob|  Feb|  350|
|Marley|  Jan|  400|
|Marley|  Feb|  450|
+------+-----+-----+

+------+---+---+
|  Name|Feb|Jan|
+------+---+---+
|  Anuj|250|200|
|   Bob|350|300|
|Marley|450|400|
+------+---+---+

In [0]:
from pyspark.sql.functions import expr

df_unpivot = df.selectExpr(
    "Name",
    "Month",
    "Sales"
).filter("Month IN ('Jan', 'Feb')").show()

+------+-----+-----+
|  Name|Month|Sales|
+------+-----+-----+
|  Anuj|  Jan|  200|
|  Anuj|  Feb|  250|
|   Bob|  Jan|  300|
|   Bob|  Feb|  350|
|Marley|  Jan|  400|
|Marley|  Feb|  450|
+------+-----+-----+

In [0]:
df_pivot.fillna(0).show()

+------+---+---+
|  Name|Feb|Jan|
+------+---+---+
|  Anuj|250|200|
|   Bob|350|300|
|Marley|450|400|
+------+---+---+