In [0]:
data = [
    (1, 'Saket', 'male', 2000),
    (2, 'Anuj', 'male', 3000),
    (3, 'Anjali', 'female', 3000),  
    (4, 'Anu', 'female', 2000)
]

schema = ['id', 'name', 'gender', 'salary']

df = spark.createDataFrame(data, schema)
df.show()

+---+------+------+------+
| id|  name|gender|salary|
+---+------+------+------+
|  1| Saket|  male|  2000|
|  2|  Anuj|  male|  3000|
|  3|Anjali|female|  3000|
|  4|   Anu|female|  2000|
+---+------+------+------+

In [0]:
#Creating a temp view will allow us to create an temporary table/ view which will only be accesable within the spark session, we can also use sql queries to maniuplate the df.
df.createOrReplaceTempView('employees')
df1=spark.sql("SELECT id,name FROM employees")
df1.show()

+---+------+
| id|  name|
+---+------+
|  1| Saket|
|  2|  Anuj|
|  3|Anjali|
|  4|   Anu|
+---+------+

In [0]:
%sql
SELECT upper(name)as Name From employees

Name
SAKET
ANUJ
ANJALI
ANU

In [0]:
# Creating a global temp view which will allow us to access the temp view/ tables accross the spark session 
df.createOrReplaceGlobalTempView('empGlobal')

In [0]:
%sql
select * from global_temp.empGlobal

id,name,gender,salary
1,Saket,male,2000
2,Anuj,male,3000
3,Anjali,female,3000
4,Anu,female,2000

In [0]:
spark.catalog.listTables('global_temp')

Out[12]: [Table(name='empGlobal', catalog=None, namespace=['global_temp'], description=None, tableType='TEMPORARY', isTemporary=True),
 Table(name='employees', catalog=None, namespace=[], description=None, tableType='TEMPORARY', isTemporary=True)]

In [0]:
#spark.catalog.drop use this command to drop the view