In [0]:
data = [
    (1, 'Saket', 'male', 2000),
    (2, 'Anuj', 'male', 3000),
    (3, 'Anjali', 'female', 3000),  
    (4, 'Anu', 'female', 2000)
]

schema = ['id', 'name', 'gender', 'salary']

df = spark.createDataFrame(data, schema)
df.show()

+---+------+------+------+
| id|  name|gender|salary|
+---+------+------+------+
|  1| Saket|  male|  2000|
|  2|  Anuj|  male|  3000|
|  3|Anjali|female|  3000|
|  4|   Anu|female|  2000|
+---+------+------+------+

In [0]:
from pyspark.sql.functions import upper
def convertNameToUpper(df):
    return df.withColumn('name',upper(df.name))

In [0]:
df1 =df.transform(convertNameToUpper)
df1.show()

+---+------+------+------+
| id|  name|gender|salary|
+---+------+------+------+
|  1| SAKET|  male|  2000|
|  2|  ANUJ|  male|  3000|
|  3|ANJALI|female|  3000|
|  4|   ANU|female|  2000|
+---+------+------+------+

In [0]:
def doubleTheSalary(df):
    return df.withColumn('salary',df.salary *2)

In [0]:
df2=df.transform(doubleTheSalary)
df2.show()

+---+------+------+------+
| id|  name|gender|salary|
+---+------+------+------+
|  1| Saket|  male|  4000|
|  2|  Anuj|  male|  6000|
|  3|Anjali|female|  6000|
|  4|   Anu|female|  4000|
+---+------+------+------+

In [0]:
#pyspark.sql.functions.transform () used to apply transformation on column of typeArray.and returns object of arrayType

data1 = [(1,'Saket',['python','spark']),(2,'Anuj',['aws','sql'])]
schema1=['id','name','skills']

df3=spark.createDataFrame(data1,schema1)
df3.show()

+---+-----+---------------+
| id| name|         skills|
+---+-----+---------------+
|  1|Saket|[python, spark]|
|  2| Anuj|     [aws, sql]|
+---+-----+---------------+

In [0]:
from pyspark.sql.functions import transform , upper
df3.select('id','name',transform('skills', lambda x: upper(x)).alias('skills')).show()

+---+-----+---------------+
| id| name|         skills|
+---+-----+---------------+
|  1|Saket|[PYTHON, SPARK]|
|  2| Anuj|     [AWS, SQL]|
+---+-----+---------------+

In [0]:
def ConvertArrayToUpper(x):
    return upper(x)

In [0]:
df3.select('id','name',transform ('skills',ConvertArrayToUpper).alias('Skills')).show()

+---+-----+---------------+
| id| name|         Skills|
+---+-----+---------------+
|  1|Saket|[PYTHON, SPARK]|
|  2| Anuj|     [AWS, SQL]|
+---+-----+---------------+