In [0]:
data = [
    (1, 'Saket', 'male', 2000),
    (2, 'Anuj', 'male', 3000),
    (3, 'Anjali', 'female', 3000),  
    (4, 'Anu', 'female', 2000)
]

schema = ['id', 'name', 'gender', 'salary']

df = spark.createDataFrame(data, schema)
df.show()

+---+------+------+------+
| id|  name|gender|salary|
+---+------+------+------+
|  1| Saket|  male|  2000|
|  2|  Anuj|  male|  3000|
|  3|Anjali|female|  3000|
|  4|   Anu|female|  2000|
+---+------+------+------+

In [0]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import udf
from pyspark.sql.types import IntegerType, FloatType

def calculate_salary(gender, salary):
    if gender == "male":
        return salary * 1.10  
    elif gender == "female":
        return salary * 1.15  
    else:
        return salary  


calculate_salary_udf = udf(calculate_salary, FloatType())

In [0]:
df = df.withColumn("Updated_Salary", calculate_salary_udf(df["gender"], df["salary"]))
df.show()

+---+------+------+------+--------------+
| id|  name|gender|salary|Updated_Salary|
+---+------+------+------+--------------+
|  1| Saket|  male|  2000|        2200.0|
|  2|  Anuj|  male|  3000|        3300.0|
|  3|Anjali|female|  3000|        3450.0|
|  4|   Anu|female|  2000|        2300.0|
+---+------+------+------+--------------+