In [0]:
data = [
    (1, 'Saket', 'male'),
    (2, 'Anuj', 'male')
]
schema = ['id', 'name', 'gender']
data2= [
    (3, 'Anuj', 'male'),  
    (4, 'Anu', 'female')
]
schema2 = ['id', 'name', 'gender']
df1 = spark.createDataFrame(data, schema)
df1.show()
df2= spark.createDataFrame(data2, schema2)
df2.show()
new_df=df1.union(df2).show()

+---+-----+------+
| id| name|gender|
+---+-----+------+
|  1|Saket|  male|
|  2| Anuj|  male|
+---+-----+------+

+---+----+------+
| id|name|gender|
+---+----+------+
|  3|Anuj|  male|
|  4| Anu|female|
+---+----+------+

+---+-----+------+
| id| name|gender|
+---+-----+------+
|  1|Saket|  male|
|  2| Anuj|  male|
|  3| Anuj|  male|
|  4|  Anu|female|
+---+-----+------+

In [0]:

from pyspark.sql.types import StructType, StructField, IntegerType, StringType


data1 = [(1, "Anuj"), (2, "Saket")]
data2 = [(2, "Ankita"), (3, "Anu"),(1, "Anuj")]

schema = StructType([
    StructField("id", IntegerType(), True),
    StructField("name", StringType(), True)
])

df1 = spark.createDataFrame(data1, schema)
df2 = spark.createDataFrame(data2, schema)

union_df = df1.union(df2).distinct()#remove duplicate

union_df.show()

+---+------+
| id|  name|
+---+------+
|  1|  Anuj|
|  2| Saket|
|  2|Ankita|
|  3|   Anu|
+---+------+