In [0]:
data1= [(1,'Saket', 24)]
schema1 =['id','name','age']

data2= [(1,'Saket',20000)]
schema2 =['id','name','Salary']

df1=spark.createDataFrame(data1,schema1)
df2=spark.createDataFrame(data2, schema2)

df1.show()
df2.show()

+---+-----+---+
| id| name|age|
+---+-----+---+
|  1|Saket| 24|
+---+-----+---+

+---+-----+------+
| id| name|Salary|
+---+-----+------+
|  1|Saket| 20000|
+---+-----+------+

In [0]:
union_df = df1.unionByName(df2,allowMissingColumns=True)
union_df.show()

+---+-----+----+------+
| id| name| age|Salary|
+---+-----+----+------+
|  1|Saket|  24|  null|
|  1|Saket|null| 20000|
+---+-----+----+------+

In [0]:
from pyspark.sql.functions import *
df1.select(col('id'),col('name')).show()

+---+-----+
| id| name|
+---+-----+
|  1|Saket|
+---+-----+

In [0]:
df2.select([col for col in df2.columns]).show()

+---+-----+------+
| id| name|Salary|
+---+-----+------+
|  1|Saket| 20000|
+---+-----+------+